import/
/spec/fixtures/
.tmp
*.lock
*.local
.rbenv-gemsets
.ruby-version
build/
docs/
tests/
log/
junit/
tmp/

.*.sw?
/pkg
coverage
/.rspec_system
/.vagrant
/.bundle
/vendor
/junit
/log
.yardoc
coverage
.DS_Store
